<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="bold">
        <img
          src="../assets/icons/profile.png"
          height="40px"
          width="40px"
          alt=""
        />
        <span class="title">USER</span>
      </div>
      <img src="../assets/icons/close.png" height="40px" width="40px" alt="" />
    </div>

    <div class="modal-body">
      <div class="search-container">
        <img
          src="../assets/icons/search.png"
          height="20px"
          width="20px"
          alt=""
        />
        <input class="search-field" placeholder="Search" type="text" />
      </div>

      <div class="container">
        <div class="row headers">
          <div class="col-lg-3 col-md-6">First Name</div>
          <div class="col-lg-3 col-md-6">Last Name</div>
          <div class="col-lg-4 col-md-12">Email</div>
          <div class="col-lg-2 col-md-12">Phone</div>
        </div>

        <!-- this is for desktop -->
        <div class="row ondesk">
          <div class="col-lg-3 col-md-1">Amol</div>
          <div class="col-lg-3 col-md-11">Navle</div>
          <div class="col-lg-4 col-md-12">amolnle@gmail.com</div>
          <div class="col-lg-2 col-md-12">1234567890</div>
        </div>

        <div class="row ondesk">
          <div class="col-lg-3 col-md-1">Abhishek</div>
          <div class="col-lg-3 col-md-11">Mestri</div>
          <div class="col-lg-4 col-md-12">abhishek@gmail.com</div>
          <div class="col-lg-2 col-md-12">1234567890</div>
        </div>
        <div class="row ondesk">
          <div class="col-lg-3 col-md-1">Abhishek</div>
          <div class="col-lg-3 col-md-11">Mestri</div>
          <div class="col-lg-4 col-md-12">abhishek@gmail.com</div>
          <div class="col-lg-2 col-md-12">1234567890</div>
        </div>

        <!-- this is mobile -->
        <div class="row onmobile">
          <div class="space-around">
            <div class="">Abhishek</div>
            <div class="ml-5">Mestri</div>
          </div>

          <div class="justify-center">
            <div class="">abhishek@gmail.com</div>
            <div class="">123457890</div>
          </div>
        </div>
        <div class="row onmobile">
          <div class="space-around">
            <div class="">Abhishek</div>
            <div class="ml-5">Mestri</div>
          </div>

          <div class="justify-center">
            <div class="">abhishek@gmail.com</div>
            <div class="">123457890</div>
          </div>
        </div>
        <div class="row onmobile">
          <div class="space-around">
            <div class="">Abhishek</div>
            <div class="ml-5">Mestri</div>
          </div>

          <div class="justify-center">
            <div class="">abhishek@gmail.com</div>
            <div class="">123457890</div>
          </div>
        </div>
      </div>

      <button>Select</button>
    </div>
  </div>
</div>
